{% extends 'main.html' %}

{% block content %}
<main class="layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    <div class="topics">
      {% include 'base/topics_component.html' %}
    </div>
    <!-- Topics End -->


    <!-- Room List Start -->
    <div class="roomList">
      {% include 'base/feed_component.html' %}
    </div>
    <!-- Room List End -->


    <!-- Activities Start -->
    <div class="activities">
      {% include 'base/activity_component.html' %}
    </div>
    <!-- Activities End -->

  </div>
</main>
{% endblock %}