{% extends 'main.html' %}
{% block content %}
    <style>
        .room-container{
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
    </style>

    <h2>{{room.name}}</h2> 
    <p>{{room.description}} </p>
    <div class="room-container">
        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for message in room_messages %}
                <div>
                    <small>
                        @{{message.user}} {{message.updated | timesince}} ago
                        {% if request.user == message.user%}
                        <a href="{% url 'delete-message' message.id  %}">Delete</a>
                        {% endif %}
                    </small>
                    <p>{{message.body}} </p>
                    <hr>
                </div>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="text" name='body' placeholder="Add your message here ...">
                </form>
            </div>
            {% endif %}
        </div>
        <div>
            <h5>List of participants </h5>
            <hr>
            {% for participant in participants %}
            <div>
                <p>@{{participant}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}