  <div class="topics__header">
    <h2>Browse Topics</h2>
  </div>
  <ul class="topics__list">
    <li>
      <a href="{% url 'home' %}" class="active">All <span>553</span></a> <!-- TO CHECK nbr of rooms per topic -->
    </li>
    {% for topic in topics %}
      <li>
        <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}} <span> nbr</span></a> <!-- TO CHECK nbr of rooms per topic -->
      </li>
    {% endfor %}
  </ul>
  <!-- TO CHECK more topics -->
  <a class="btn btn--link" href="topics.html">
    More
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 32"
    >
      <title>chevron-down</title>
      <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
    </svg>
  </a>

